html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
img{margin-bottom:-5px}a{color:inherit}
header {
	margin-bottom:10px;
	text-align:center;
	width:100%;
	left:0px;
   	bottom:0px;
   	height:80px;
	background:url(../resource/bg.png);
	border:2px black solid;


}
h1 {
	font-size:45px;
}
#wrapper {
	width:1500px;
	height:100%;
	position:relative;

}
main {
	margin:0 auto;
	padding:10px;
	border-radius:25px;
	width:1200px;
	height:620px;
	background: rgba(255, 255, 245,0.75);
}
#howto {
	width:810px;
	height:600px;
	float:right;
}
img#biskpic2 {
	width:500px;
	height:300px;
	border-radius:25px;
	float:right;
	background-image:url(../resource/biskvier.jpg);

}
img#biskpic1 {
	border-radius:15px;
	background-image:url(../resource/biskvi2.jpg);
	background-repeat: no-repeat;
	float:right;
	width:370px;
	height:300px;
	float:right;
}
p#obs {
	font-size:25px;
}
footer{
	background:url(../resource/bg.png);
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}
aside {
	float:left;
	background: rgba(255, 255, 245,0.70);
	border-radius:10px;
	width:120px;
	height:105px;
}
#icon1 {font-size: 30px;color: black;}#icon2 {font-size: 30px;color: black;}#icon3 {font-size: 30px;color: black;}#icon4 {font-size: 30px;color: black;}#icon5 {font-size: 30px;color: black;}
#icon1:hover {cursor:pointer;font-size:40px;color:orange;}#icon2:hover {cursor:pointer;font-size:40px;color:orange;}#icon3:hover {cursor:pointer;font-size:40px;color:orange;}#icon4:hover {cursor:pointer;font-size:40px;color:orange;}#icon5:hover {cursor:pointer;font-size:40px;color:orange;}